.header {
  background: url('../../img/background.jpg') no-repeat center center;
  background-position: 70% 65%;
  padding: 15px 30px;
}
.main-container {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #22253b;
  padding: 40px 20px;
}
.header-title {
  position: relative;
  font-family: Gilroy;
  font-size: 46px;
  font-weight: 600;
  line-height: 46px;
  text-align: left;
  width: 650px;
  height: 185px;
  margin: 45px 0;
}
.header-title .brace {
  font-family: Gilroy;
  color: #e74c3c;
  font-size: 46px;
  line-height: 46px;
}
.header-title::before {
  content: '';
  position: absolute;
  bottom: -31px; /* Adjust this value as needed */
  height: 2px; /* Adjust this value as needed */
  width: 50%;
  background: #dedede;
}
.header-text .highlight {
  color: #333333;
}
.header-subtitle {
  font-family: Gilroy;
  font-weight: 400;
  width: 365px;
  height: 46px;
  margin-bottom: 20px;
}

.header-image {
  max-width: 400px;
  height: auto;
}
